<% @data.each do |row| %>
  <div class="glass-card p-5">
    <h2 class="section-title mb-3"><%= row[:project].name %></h2>
    <div class="overflow-x-auto">
      <table class="table-premium">
        <thead>
          <tr>
            <th><%= t("material_entries.description") %></th>
            <th class="text-right"><%= t("material_entries.quantity") %></th>
            <th><%= t("material_entries.unit") %></th>
            <th class="text-right"><%= t("material_entries.total_ex_vat") %></th>
            <th class="text-right"><%= t("material_entries.total_vat") %></th>
            <th class="text-right"><%= t("material_entries.total_inc_vat") %></th>
          </tr>
        </thead>
        <tbody>
          <% row[:entries].each do |e| %>
            <tr>
              <td><%= e.description %></td>
              <td class="text-right text-slate-600"><%= e.quantity %></td>
              <td class="text-slate-600"><%= e.unit %></td>
              <td class="text-right text-slate-600"><%= format_currency(e.total_cost_ex_vat_ron) %></td>
              <td class="text-right text-slate-600"><%= format_currency(e.total_vat_ron) %></td>
              <td class="text-right text-slate-600"><%= format_currency(e.total_cost_inc_vat_ron) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="font-semibold">
            <td colspan="3"><%= t("common.total") %></td>
            <td class="text-right"><%= format_currency(row[:total_ex_vat_ron]) %></td>
            <td class="text-right"><%= format_currency(row[:total_vat_ron]) %></td>
            <td class="text-right"><%= format_currency(row[:total_inc_vat_ron]) %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% end %>
